﻿@model POSCreditRepayments.Web.ViewModels.Products.ProductDetailsViewModel

<div class="row">
    <div class="box">
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1">
                <hr>
                <h2 class="intro-text text-center">
                    @Model.Name
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" style="width: 300px;" src="@Model.ImageUrl" alt="">
                <hr class="visible-xs">
                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</p>
                <hr class="visible-xs">
                <p><h3>Price: @Model.Price</h3></p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1">
                @Html.ActionLink("Buy on credit", "GetOnCredit", "Credit", new { id = Model.ProductId }, new { @class = "btn btn-lg btn-info" })
            </div>
        </div>
    </div>
</div>