@model POSCreditRepayments.Web.ViewModels.Credits.CreditDisplayTemplateViewModel

<div class="form-group padding">
    @Html.LabelFor(m => m.FinancialInstitutionName, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.FinancialInstitutionName, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.ProductName, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.ProductName, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.ProductPrice, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.ProductPrice, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.TotalAmount, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.TotalAmount, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.CreditAmount, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.CreditAmount, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.InterestAmount, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.InterestAmount, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.Downpayment, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Downpayment, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.Term, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Term, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.InterestRatePerMonth, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.InterestRatePerMonth, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.InterestRatePerYear, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.InterestRatePerYear, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.Insurance, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Insurance, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.InsuranceAmount, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.InsuranceAmount, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.MonthlyPayment, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.MonthlyPayment, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group padding">
    @Html.LabelFor(m => m.Apr, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Apr, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>